table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
div {
    font-family: arial, sans-serif;
    font-size: 12pt;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

p {
    font-family: arial, sans-serif;
    font-size: 25pt;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

* {
    box-sizing: border-box;
}
  
.row {
    margin-left:-5px;
    margin-right:-5px;
}

.fourth {
    float: left;
    width: 25%;
    padding: 5px;
}

.btn {
    padding: 32px 16px;
}

.container {
    height: 200px;
    width: 100%;
    position: relative;
    border: 3px solid black;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
    

.column {
    float: left;
    width: 50%;
    padding: 5px;
}
  
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}